.book {
  flex-grow: 1;
  max-width: 15%;
  height: 15%;
  margin-bottom: 2rem;
  text-align: center;

  /* border: 1px solid var(--primary-color); */
}

.book-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.book img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.card-content {
  max-height: 20%;
}

.price-div {
}
.book-img-div {
  width: 80%;
  height: 55%;
  margin: 0 auto;
}

.button-div {
}

.button-div button {
  margin: 0 auto;
  color: white;
  background-color: var(--primary-color);
}

.button-div button:hover {
  background-color: var(--green);
}
