.text-fields-wrapper{
display: flex;
gap: 1.5rem;
width: 100%;
}

.my-profile{
    margin: 0 auto;
    width: 30%;
    margin-bottom: 2rem;
  
    text-align: center;
}

.buttons-div{
    width: 30%;
    margin: 0 auto;
    display: flex;
    margin-top: 3.5rem;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.buttons-div button{
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    text-transform: capitalize;
    color: white;
    font-size: 1.5rem;
}

.buttons-div button:hover{
    opacity: 70%;
    cursor: pointer;
}

.input-custom{
    padding: 1rem;
    margin-top: 0.5rem;
    width: 105%;
    border-top: 1px solid black;
}